body{
    height: 100px;
    width: 200px;
}
h2{
    position: fixed;
    border: 2px solid black;
    height: 400px;
    width: 500px;
    font-size: xx-large;
    font-weight: bold;
    top: 11%;
    left: 30%;
    
}
#form{
    height: 30%;
    width: 22%;
    top: 27%;
    left: 36%;
    border: 2px solid black;
    position: absolute;
    font-size: medium;
    font-style: bold;

}

